{% extends 'front/base.html' %}
{% load static %}
{% load humanize %}



{% block mainblock %}

<div class="container" style="margin-top:100px">
    {% for post in posts %}
    <h6 class="author"><a href="/user-posts-detail/{{post.pk}}">{{post.title}} </a></h6>

    <div class="post-content">
        <p class="post-desc pb-0">
            {{post.content}}
        </p>
        {% if post.image.url != '' %}
        <div class="">
            <figure class="">
                <a href="assets/images/post/post-large-1.jpg">
                    <img src="{{post.image.url}}" width="300" alt="post image">
                </a>
            </figure>
        </div>
        {% endif %}


  {% with total_likes=post.users_like.count users_like=post.users_like.all %}
    <div class="image-info">
      <div>
        <span class="count">
         <span class="total">{{ total_likes }}</span>
         like{{ total_likes|pluralize }}
        </span>
        
        <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
          {% if request.user not in users_like %}
            Like
          {% else %}
            Unlike
          {% endif %}
        </a>
      </div>
     
    </div>
    
  {% endwith %}

        <hr>
        <br><br>
    {% endfor %}
</div>

{% endblock %}


{% block domready %}
 
$('a.like').click(function(e){
    e.preventDefault();
    const $clickedButton = $( this );
    $.post('/like/',
      {
        id: $clickedButton.data('id'),
        action: $clickedButton.data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $clickedButton.data('action');

          // toggle data-action
          $clickedButton.data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $clickedButton.text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          const $total = $clickedButton.prev('span.count').children('.total');
    var previous_likes = parseInt($total.text());
    $total.text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}